.main.container {
    margin-top: 6em;
}

i.icon {
    font-size: 1.5em;
}

div.ui.main.text.container.segment {
    padding-bottom: 4em;
}

#edit_button {
    width: 80px;
}
#delete_button {
    display: inline;
}